# =========================
# WEBSITE
# =========================

SITE_PASSWORD=16120311
UNLOCK_AT=2026-08-28T00:00:00+05:30
PASSWORD_EMAIL_AT=2026-08-27T23:59:00+05:30

SITE_URL=http://localhost:5173

# =========================
# RESEND
# =========================

RESEND_API_KEY=re_YOUR_SECRET_KEY
RESEND_DOMAIN=codxa-agency.online
RESEND_FROM_EMAIL="Ashuu Rakhi Surprise <rakhi@codxa-agency.online>"

RESEND_WELCOME_TEMPLATE_ID=3fb3aa32-57ee-482a-8109-b42fbba11c51
RESEND_HOURLY_TEMPLATE_ID=5b32465f-78df-4499-975c-e5c0ad7a301a
RESEND_PASSWORD_TEMPLATE_ID=81045808-1bad-425e-8854-28692c588730

# =========================
# SUPABASE
# =========================

NEXT_PUBLIC_SUPABASE_URL=https://YOUR_PROJECT.supabase.co
SUPABASE_SERVICE_ROLE_KEY=YOUR_SERVICE_ROLE_KEY

# =========================
# VYSHUU
# =========================

VYSHUU_NAME=Vyshuuuuuuuuuuuuu
VYSHUU_EMAIL=
